In [1]:
import pandas as pd
a=pd.read_csv("Car data.csv")
a

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [3]:
a.drop(columns=["torque"],inplace=True)

In [9]:
a.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64

In [7]:
a.dropna(inplace=True)

In [11]:
a.drop_duplicates(inplace=True)

In [13]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   object
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   object
 5   seller_type    6718 non-null   object
 6   transmission   6718 non-null   object
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 682.3+ KB

In [15]:
a['name'] = a['name'].apply(lambda x: x.split()[0])

In [ ]:
a['max_power'] = a['max_power'].apply(lambda x: x.split()[0])

In [21]:
# Replace 'bhp' and strip whitespaces
a['max_power'] = a['max_power'].str.replace('bhp', '', regex=False).str.strip()
    
# Convert to numeric (invalid entries like empty strings will become NaN)
a['max_power'] = pd.to_numeric(a['max_power'], errors='coerce')

# Optionally, fill or drop missing values
a['max_power'].fillna(a['max_power'].mean(), inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_16736\2372921499.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  a['max_power'].fillna(a['max_power'].mean(), inplace=True)

In [25]:
# Step 1: Remove 'CC' and strip spaces
a['engine'] = a['engine'].str.replace('CC', '', regex=False).str.strip()

# Step 2: Convert to float
a['engine'] = pd.to_numeric(a['engine'], errors='coerce')

# Step 3: Fill missing values with mean (optional)
a['engine'].fillna(a['engine'].mean(), inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_16736\1110467704.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  a['engine'].fillna(a['engine'].mean(), inplace=True)

In [42]:

a['mileage'] = a['mileage'].str.replace('kmpl', '', regex=False)
a['mileage'] = a['mileage'].str.replace('km/kg', '', regex=False)
a['mileage'] = a['mileage'].str.strip()


a['mileage'] = pd.to_numeric(a['mileage'], errors='coerce')


a['mileage'].fillna(a['mileage'].mean(), inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_16736\404056282.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  a['mileage'].fillna(a['mileage'].mean(), inplace=True)

In [70]:
a

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,20,2014,450000,145500,1,1,1,0,23.40,1248,74.00,5.0
1,26,2014,370000,120000,1,1,1,2,21.14,1498,103.52,5.0
2,10,2006,158000,140000,3,1,1,4,17.70,1497,78.00,5.0
3,11,2010,225000,127000,1,1,1,0,23.00,1396,90.00,5.0
4,20,2007,130000,120000,3,1,1,0,16.10,1298,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8121,20,2013,260000,50000,3,1,1,2,18.90,998,67.10,5.0
8122,11,2014,475000,80000,1,1,1,2,22.54,1396,88.73,5.0
8123,11,2013,320000,110000,3,1,1,0,18.50,1197,82.85,5.0
8124,11,2007,135000,119000,1,1,1,1,16.80,1493,110.00,5.0
8125,20,2009,382000,120000,1,1,1,0,19.30,1248,73.90,5.0

In [48]:
a["name"].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], dtype=object)

In [50]:
import pickle

# Suppose you encoded these columns
from sklearn.preprocessing import LabelEncoder

le_name = LabelEncoder()
le_fuel = LabelEncoder()
le_seller_type = LabelEncoder()
le_transmission = LabelEncoder()
le_owner = LabelEncoder()

# Fit them to data
a["name"]=le_name.fit_transform(a['name'])
a['fuel']=le_fuel.fit_transform(a['fuel'])
a['seller_type']=le_seller_type.fit_transform(a['seller_type'])
a['transmission']=le_transmission.fit_transform(a['transmission'])
a['owner']=le_owner.fit_transform(a['owner'])
# Save them
pickle.dump(le_name, open('name_encoding.pkl', 'wb'))
pickle.dump(le_fuel, open('fuel_encoding.pkl', 'wb'))
pickle.dump(le_seller_type, open('seller_encoding.pkl', 'wb'))
pickle.dump(le_transmission, open('transmission_encoding.pkl', 'wb'))
pickle.dump(le_owner, open('owner_encoding.pkl', 'wb'))

In [52]:
x = a.drop('selling_price', axis=1)
y = a['selling_price']

In [54]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [56]:
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

# Create and train the model
model = XGBRegressor(
    n_estimators=200,
    max_depth=10,
    learning_rate=0.1,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42,
    n_jobs=-1
)

model.fit(x_train, y_train)

# Predict on train and test
y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

# Train Metrics
print("ðŸ”¹ Train RÂ² Score:", r2_score(y_train, y_train_pred))
print("ðŸ”¹ Train MAE:", mean_absolute_error(y_train, y_train_pred))
print("ðŸ”¹ Train RMSE:", np.sqrt(mean_squared_error(y_train, y_train_pred)))

# Test Metrics
print("ðŸ”¹ Test RÂ² Score:", r2_score(y_test, y_test_pred))
print("ðŸ”¹ Test MAE:", mean_absolute_error(y_test, y_test_pred))
print("ðŸ”¹ Test RMSE:", np.sqrt(mean_squared_error(y_test, y_test_pred)))

ðŸ”¹ Train RÂ² Score: 0.9972520470619202
ðŸ”¹ Train MAE: 19043.6044409425
ðŸ”¹ Train RMSE: 28634.738784323654
ðŸ”¹ Test RÂ² Score: 0.8874053955078125
ðŸ”¹ Test MAE: 73932.43508911133
ðŸ”¹ Test RMSE: 140859.50887289495

In [58]:
import pickle

with open('xgboost_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [68]:
x_train

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
2804,10,2008,110000,3,1,1,2,17.70,1497,78.00,5.0
1428,9,2017,35000,1,1,1,0,25.83,1498,99.00,5.0
7101,11,2010,80000,2,1,1,0,13.20,1495,93.70,5.0
6876,19,2008,110000,1,1,1,0,12.70,2609,116.60,8.0
7360,20,2017,58559,1,0,1,0,25.20,1248,74.00,5.0
...,...,...,...,...,...,...,...,...,...,...,...
4475,20,2011,40000,3,1,1,2,20.92,998,67.10,5.0
6223,20,2010,28000,3,1,1,2,19.70,796,46.30,5.0
6267,11,2019,4300,3,0,1,0,18.60,1197,81.86,5.0
6449,11,2010,123278,3,1,1,2,20.36,1197,78.90,5.0
941,27,2007,160000,1,1,1,2,13.93,2956,138.10,7.0